fastapi==0.119.0
dashscope>=1.24.5
edge-tts>=7.0.0
aiosqlite==0.22.1
langchain-core==1.4.9
langgraph==1.2.9
langgraph-checkpoint-sqlite==3.1.0
numpy==2.0.2
openai==2.8.0
openpyxl==3.1.5
pydantic==2.12.2
pypinyin==0.55.0
python-multipart==0.0.20
Requests==2.32.5
soundfile==0.13.1
SQLAlchemy==2.0.44
starlette==0.48.0
uvicorn==0.37.0
websockets==15.0.1
